<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Login | E - Yearbook Management System</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="../assets/img/mlndy logo.png" rel="icon">
  <link href="../assets/img/mlndy logo.png" rel="apple-touch-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-Rk4kgbc4eEkdaD6S6ZjPhxnU9HWyqeqeUQ+Rz/z6z3qmWTfaTlqmKAzzPXZ+6u2oUlVbMZIuSJtQ9nH19p0x2Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="../assets/css/style.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">
      <h1 class="logo"><img src="../assets/img/mlndy logo.png"><a href="#" style="font-size: 75%;">     MALANDAY NATIONAL HIGHSCHOOL E-YEARBOOK</a></h1>
    </div>
  </header>

  <div id="hero" class="hero route bg-image" style="background-image: url(../assets/img/hero-bg.jpg)">
    <div class="overlay-itro"></div>
    <div class="hero-content display-table">
      <div class="table-cell">
        <div class="container">
          <div id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true" style="padding-top: 10%;">
            <div class="modal-dialog">
              <div class="modal-content box-shadow-full">
                <div class="modal-header">
                  <h5 class="title-left">Login</h5>
                </div>
                <div class="modal-body">
                  <form id="loginForm">
                    <div class="col-md-12 mb-3">
                      <div class="form-group">
                        <label for="studentNumber"><h4>Student Number</h4></label>
                        <input type="number" class="form-control" id="studentNumber" placeholder="Enter Student Number" required>
                      </div>
                    </div>
                    <div class="col-md-12 mb-3">
                      <div class="form-group">
                        <label for="password"><h4>Password</h4></label>
                        <input type="password" class="form-control" id="password" placeholder="Password" required>
                      </div>
                    </div>

                    <div class="col-md-12 mb-3" id="tokenField" style="display:none;">
                      <div class="form-group">
                        <label for="token"><h4>2FA Token</h4></label>
                        <input type="text" class="form-control" id="token" name="token" placeholder="Enter 2FA token">
                      </div>
                    </div>

                    <div class="col-md-12 mb-3">
                      <div class="grid">
                        <div>
                          <button type="submit" class="button button-a button-big button-rounded">Login</button>
                        </div>
                        <div>
                          <a href="mailto:mnhs.marikina@deped.gov.ph">Reset Password</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 mb-3">
                      <div id="loginMessage"></div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function() {
      $('#loginForm').submit(function(event) {
        event.preventDefault();

        var studentNumber = $('#studentNumber').val();
        var password = $('#password').val();
        var token = $('#token').val(); // Capture the 2FA token if provided

        $.ajax({
          type: 'POST',
          url: '/loginroute',
          data: JSON.stringify({
            studentNumber: studentNumber,
            password: password,
            token: token // Send the 2FA token if available
          }),
          contentType: 'application/json',
          success: function(response) {
            if (response.message === 'Login successful') {
              $('#loginMessage').html('<div class="alert alert-success">' + response.message + '</div>');
              window.location.href = response.redirectUrl;
            } else if (response.message === '2FA required') {
              // Show the 2FA field when it's required
              show2FAField();
              $('#loginMessage').html('<div class="alert alert-info">Please enter your 2FA code</div>');
            } else {
              $('#loginMessage').html('<div class="alert alert-danger">' + response.message + '</div>');
            }
          },
          error: function(xhr, status, error) {
            $('#loginMessage').html('<div class="alert alert-danger">An error occurred: ' + xhr.responseText + '</div>');
          }
        });
      });

      // Function to show the 2FA field when it's required
      function show2FAField() {
        $('#tokenField').show();
      }
    });
  </script>

  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../assets/vendor/typed.js/typed.min.js"></script>
  <script src="../assets/js/main.js"></script>
</body>
</html>
